body {
    font-family: Arial, sans-serif;
    background-color: #faf7e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    margin: 20%;
}

#caja1 {
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

#caja1 img {
    width: 100%;
    height: auto;
}

#caja1 article {
    padding: 5%;
}

#caja1 h2 {
    font-size: 130%;
    margin: 0;
}

#caja1 p {
    color: grey;
    font-size: 90%;
    margin: 3%;
}

#caja1 a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #26435C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
