:root{
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Ramaraja', Fira Sans, Arial, Helvetica, sans-serif; 
    font-size: 18px;
    background-color: #faf7e8;
    color: rgb(38, 67, 92);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ACACAC;
    flex-wrap:wrap ;
}

.logo {
    font-size: 3vw;
    text-align: center; 
    text-decoration: none;
    margin-top: 0;
}

.div-link{
    color: inherit; 
    text-decoration: none;
}

nav {
    position: center;
    display: flex;
    justify-content: space-around; 
    width: 50%;
    flex-wrap: wrap;
}

.nav-link {
    color: inherit; 
    text-decoration: none;
    font-size: 1.5vw; 
}

.search-container {
    background-color: #26435C;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 5px;
    flex-wrap: wrap;
}

.search-bar {
    font-family: auto;
    background-color: #26435C;
    padding: 10px 20px;
    font-size: 1vw; 
    border: none; 
    border-radius: 25px; 
    color: white;
    width: 100%; 
}

.search-bar::placeholder {
    color: white; 
}